* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #262626;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  margin: auto;
  width: 90%;
  max-width: 1100px;
}

/* Menu Button */
.menu-btn {
  position: absolute;
  right: 35px;
  top: 15px;
  cursor: pointer;
  display: none;
}

a {
  text-decoration: none;
  font-size: 15px;
  color: #262626;
}
.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
}
.main-nav ul {
  list-style: none;
  display: flex;
}
.main-nav .main-menu {
  flex-grow: 1;
  margin-left: 20px;
}
.main-nav li {
  padding: 10px;
}
.main-nav .main-menu li a:hover {
  border-bottom: 3px solid #262626;
  padding-bottom: 5px;
}
.main-nav .logo {
  width: 110px;
}

/* Showcase */
.showcase {
  width: 100%;
  height: 400px;
  background: url("https://i.ibb.co/zGSDGCL/slide1.png") no-repeat center center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 50px;
  text-align: center;
}
.btn {
  background-color: #262626;
  color: white;
  padding: 10px 20px;
  font-weight: bold;
}
.btn:hover {
  opacity: 0.9;
}
.showcase h1,
p {
  padding-bottom: 15px;
}

.home-cards {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  margin-bottom: 40px;
}
.home-cards img {
  width: 100%;
}
.home-cards a {
  text-transform: uppercase;
  color: blue;
  font-weight: bold;
}
.home-cards a i {
  transition: all 0.3s ease;
}
.home-cards a:hover i {
  padding-left: 5px;
}

/* XBOX */
.xbox {
  background: url("https://i.ibb.co/tBJGPD9/xbox.png") no-repeat center
    center/cover;
  height: 350px;
  width: 100%;
  margin-bottom: 20px;
}
.xbox .content {
  width: 40%;
  padding: 50px 0 0 10px;
}
.content p {
  margin: 10px 0 20px;
}

/* Carbon */
.carbon {
  height: 350px;
  background: url("https://i.ibb.co/72cgtsz/carbon.jpg") no-repeat center
    center/cover;
  margin-bottom: 20px;
}
.carbon .content {
  width: 55%;
  color: #fff;
  padding: 100px 0 0 20px;
}
.carbon .btn {
  background-color: #fff;
  color: #333;
}

/* .follow p,
.follow a {
  float: left;
  padding-right: 10px;
  line-height: 32px;
} */
.follow {
  height: 47px;
  display: flex;
}
.follow * {
  margin-right: 10px;
  line-height: 32px;
}

/* Links */
.links {
  background-color: #f2f2f2;
  width: 100%;
  height: 100%;
}
.links-inner {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-gap: 20px;
  width: 90%;
  margin: auto;
  max-width: 1100px;
  font-size: 12px;
}
.links-inner ul {
  margin: 20px 0;
  list-style: none;
}
.links-inner li {
  margin-bottom: 10px;
}
.links-inner li h3 {
  font-weight: bold;
}

/* Footer */
.footer {
  background-color: #f2f2f2;
  padding: 20px;
  color: #616161;
  font-size: 12px;
}
.footer .footer-inner {
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}
.footer-inner ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.footer-inner li {
  margin: 10px;
}

@media (max-width: 700px) {
  .home-cards {
    grid-template-columns: repeat(2, auto);
  }
  .carbon .content {
    width: 80%;
  }
  .links-inner {
    grid-template-columns: repeat(2, auto);
  }
  .xbox p {
    display: none;
  }
  .xbox h2 {
    margin-bottom: 20px;
  }
  .menu-btn {
    display: block;
  }
  .main-menu {
    flex-direction: column;
    background-color: #f2f2f2;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    border-right: 1px solid #616161;
    transform: translate(-500px);
    padding: 10px;
    opacity: 0.9;
    transition: transform 0.5s ease-in-out;
  }

  .show {
    transform: translate(-20px);
  }
  .main-menu li {
    border-bottom: 1px solid #fff;
  }
  .main-nav .main-menu li a:hover {
    border-bottom: none;
  }
  .main-menu li:last-child {
    border-bottom: none;
  }
  .right-menu {
    margin-right: 40px;
  }
}

@media (max-width: 400px) {
  .home-cards {
    grid-template-columns: auto;
  }
  .carbon .content {
    width: 100%;
  }
  .links-inner {
    grid-template-columns: auto;
  }
  .xbox p {
    display: none;
  }
  .xbox h2 {
    margin-bottom: 20px;
  }
}
